$main-color: #1ABCFE;

$secondary-color-first: #B987F3;
$secondary-color-second: #EECEA3;
$secondary-color-third: #5BD4EC;
$secondary-color-fourth: #E8A255;
$secondary-color-fifth: #90FFE8;

$white: #FFFFFF;
$grey: #AAAAAA;
$black: #000000;

$black-50: rgba(0, 0, 0, 0.5);
$black-75: rgba(0, 0, 0, 0.75);

$excellent-color: #00FF00;
$success-color: #A6E200;
$warning-color: #FFAA00;
$error-color: #F64028;