@use '../settings/borders' as *;
@use '../settings/colors' as *;
@use '../settings/fonts' as *;
@use '../settings/sizing' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;
@use '../tools/shadow' as *;
@use '../tools/transition' as *;


@mixin successErrorInput {
    padding: 0 45px 0 20px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 95%;
}

@mixin showHideInput {
    position: absolute;
    top: 20px;
    right: -20px;
    display: block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    @include media('>phone') {
        right: -30px;
        width: 20px;
        height: 20px;
    }
}


.form {
    @include flex($direction:column, $justify:center, $align:center);

    &__input, &__textarea, &__select {
        min-width: $input-min-width-mobile;
        height: $input-height-mobile;
        padding: 0 20px;
        background-color: $white;
        border: solid 3px $secondary-color-second;
        border-radius: $border-radius-small;
        font-size: 16px !important;
        @include media('>phone') {
            min-width: $input-min-width;
            height: $input-height;
            font-size: 20px;
        }
        &[type="file"] {
            position: relative;
            padding-top: 15px !important;
            cursor: pointer;
            &::file-selector-button,
            &::-webkit-file-upload-button {
                position: absolute;
                top: -0.20rem;
                right: -0.40rem;
                height: $input-height-mobile;
                border: none;
                color: $white;
                background-color: $secondary-color-second;
                @include media('>phone') {
                    height: $input-height;
                }
            }
        }
        &--success {
            @include successErrorInput;
            background-image: url('../images/icons/check.svg');
        }
        &--error {
            @include successErrorInput;
            background-image: url('../images/icons/close.svg');
        }
        &--show {
            @include showHideInput;
            background-image: url('../images/icons/show.svg');
        }
        &--hide {
            @include showHideInput;
            background-image: url('../images/icons/hide.svg');
        }
    }

    &__textarea {
        height: $textarea-height-mobile;
        resize: none;
        @include media('>phone') {
            height: $textarea-height;
        }
    }

    &__select {
        appearance: none;
        &::-ms-expand {
            display: none;
        }
        &--arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
        }
    }

    &__text {
        max-width: $input-min-width;
        margin: 0 0 20px 0;
        text-align: center;
        font-size: $small-font;
    }
}

.form--animated {
    .form__label {
        position: absolute;
        top: 15px;
        left: 15px;
        @include transitionFast();
        @include media('>phone') {
            top: 20px;
        }
    }

    .form__input, .form__textarea, .form__select {
        outline: $secondary-color-second;
        &:focus, &:not(:placeholder-shown) {
            ~ .form__label {
                top: -10px;
                display: block;
                padding: 3px 10px;
                color: $white;
                background-color: $secondary-color-second;
                border-radius: 5px;
            }
        }
    }

    .form__textarea {
        padding: 20px;
    }
}

.form--small {
    .form__input, .form__textarea, .form__select {
        min-width: $input-small-min-width-mobile;
        height: $input-height-mobile;
        padding: 0 20px;
        border: solid 3px $secondary-color-second;
        border-radius: $border-radius-small;
        font-size: 16px;
        @include media('>phone') {
            min-width: $input-small-min-width;
            height: $input-height;
            font-size: 20px;
        }
    }

    .form__text {
        max-width: $input-small-min-width;
    }
}