@use '../settings/sizing' as *;
@use '../tools/display' as *;


.header {
    @include flex($justify:space-between);
    width: 100vw;
    height: $header-height;
    padding: 20px 10px;

    &__button {
        @include flex($direction:column);
    }
}