@use '../settings/colors' as *;
@use '../settings/sizing' as *;
@use '../tools/display' as *;


.main {
    @include flex();
    height: calc(100vh - #{$header-height + $footer-height});

    &--light {
        min-height: 100vh;
        background-color: $secondary-color-second;
    }
}