@use '../settings/colors' as *;
@use '../tools/display' as *;


.password-strength {
    @include flex($justify:space-around, $align:center);
    width: 250px;
    height: 20px;
    margin: 10px auto 0 auto;

    &__item {
        width: 50px;
        height: 7px;
        background-color: $grey;
        border-radius: 10px;
    }
}

.password-low {
    background-color: $error-color;
}
.password-medium {
    background-color: $warning-color;
}
.password-strong {
    background-color: $success-color;
}
.password-excellent {
    background-color: $excellent-color;
}
