{% extends 'base.twig' %}


{% block body %}
   <main class="main main--light">
        <div class="container container--light">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}