<button id="menu-toggle" class="button--no-style header__button">
    <img src="{{ app.baseUrl }}/images/icons/menu.svg" alt="{{ 'assets.menuIconAlt'|trans }}" />
    MENU
</button>

<a href="{{ app.baseUrl }}">CookStart</a>

<div></div>